/**
 * DokuWiki plugin TOC Tweak;
 */

.width18 { width:18em; }

/*------------------------------------*
   METATOC hierarchical list style
 *------------------------------------*/
div.toc_hierarchical {
    border-color: __border__;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    padding-right: 1em;
    background-color: __background_alt__;
  h3 {
    margin: 0;
    padding: .2em 2em;
    font-size: 85%;
  }
  ul {
    // border: solid 1px pink;
    counter-reset: hl_count;
    list-style-style: none;
    font-size: 90%;
    li {
      counter-increment: hl_count;
      position: relative;
      display: table;
    }
    li::before {
      content: counters(hl_count, "-");
      display: table-cell;
      padding-right: .6em;
      font-size: 80%;
    }
  }
}

/*------------------------------------*
   INLINETOC
 *------------------------------------*/
div.toc_inline,
#dw__inlinetoc {
    margin-top: 10px;
    margin-bottom: 5px;
    border-color: __border__;
    border-style: solid;
    border-width: thin;
    padding-top: 10px;
    border-radius: 10px;
    // background-color: __background_alt__;
  h3 {
    padding-left: 2em;
    font-size: .875em;
    font-weight: bold;
  }
  ul {
    padding-left: 2.2em;
    list-style-type: square;
    line-height: 1.5em;
    font-size: 90%;
  }
}
[dir=rtl] div.toc_inline,
[dir=rtl] #dw__inlinetoc {
  h3 {
    padding-right: 2em;
    font-size: .875em;
    font-weight: bold;
  }
  ul {
    padding-right: 2.2em;
    list-style-type: square;
    line-height: 1.5em;
    font-size: 90%;
  }
}
